[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow-sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
pyjwt = "*"
werkzeug = "*"
alembic = "*"
pylint = "*"
flask-jwt-extended = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.12"
